.rectangle {
    -fx-fill:           linear-gradient(rgba(72,200,160,1) 0, rgba(32,40,48,1) 100 );
    -fx-stroke:         linear-gradient(rgba(72,200,160,1) 0, rgba(32,40,48,1) 100 );
    -fx-stroke-width:   1;
    -fx-stroke-type:    inside;
}

.rectangle:hover {
    -fx-fill:           #F05F57 ;
    -fx-stroke:         #F05F57;
    -fx-stroke-width:   1;
    -fx-stroke-type:    inside;
}
